<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    {{>navbar}}
    <h1>Welcome to the Sign up Page</h1>
    <form action="/signup" method="post">
    <input type="text" placeholder="Enter your name" name="username"/>
    <input type="password" name="password"  placeholder="Enter your password"/>
    <button type="submit">Sign Up</button>
    </form>
    {{msg}}
</body>
</html>